<!doctype html>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="NOVO" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                        <button pButton pRipple label="DELETAR" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedPets()" [disabled]="!selectedPets || !selectedPets.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="IMPORTAR" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="EXPORTAR" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="pets" [columns]="cols" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name','country.name','representative.name','status']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedPets" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">CADASTRO PETS</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="PROCURAR..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="name">Nome <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="cor">Cor <p-sortIcon field="cor"></p-sortIcon></th>
                        <th pSortableColumn="idade">Idade <p-sortIcon field="idade"></p-sortIcon></th>
                        <th pSortableColumn="sexo">Sexo <p-sortIcon field="sexo"></p-sortIcon></th>
                        <th pSortableColumn="species">Espécie <p-sortIcon field="species"></p-sortIcon></th>
                        <th pSortableColumn="nascimento">Data de nascimento <p-sortIcon field="nascimento"></p-sortIcon></th>
                        <th pSortableColumn="peso">Peso <p-sortIcon field="peso"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="pet"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">id</span>
                            {{pet.id || pet.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">nome</span>
                            {{pet.name  || 'N/A' }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">cor</span>
                            {{pet.cor || 'N/A'}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">idade</span>
                            {{pet.idade || 'N/A'}} 
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">sexo</span>
                            {{pet.sexo || 'N/A'}} 
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">espécie</span>
                            {{pet.species || 'N/A'}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">data de nascimento</span>
                            {{pet.nascimento || 'N/A'}}
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">peso</span>
                            {{pet.peso || 'N/A'}}
                        </td>
                    
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editpet(pet)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deletePet(pet)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="petDialog" [style]="{width: '450px'}" header="DETALHES PETS" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <img [src]="'assets/demo/images/product/' + pet.image" [alt]="pet.image" width="150" class="mt-0 mx-auto mb-5 block shadow-2" *ngIf="pet.image">
                <div class="field">
                    <label for="name">Nome</label>
                    <input type="text" pInputText id="name" [(ngModel)]="pet.name" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.name}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.name">nome is required.</small>
                </div>
                <div class="field">
                    <label for="cor">Cor</label>
                    <input type="text" pInputText id="cor" [(ngModel)]="pet.cor" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.cor}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.cor">cor is required.</small>
                </div>
                <div class="field">
                    <label for="idade">Idade</label>
                    <input type="number" pInputText id="idade" [(ngModel)]="pet.idade" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.idade}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.idade">idade is required.</small>
                </div>
                <div class="field">
                    <label for="species">Espécie</label>
                    <input type="text" pInputText id="species" [(ngModel)]="pet.species" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.species}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.species">espécie is required.</small>
                </div>
                <div class="field">
                    <label for="nascimento">Data de nascimento</label>
                    <input type="date" pInputText id="nascimento" [(ngModel)]="pet.nascimento" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.nascimento}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.nascimento">data de nascimento is required.</small>
                </div>
                <div class="field">
                    <label for="peso">Peso</label>
                    <input type="number" pInputText id="peso" [(ngModel)]="pet.peso" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !pet.peso}"/>
                    <small class="ng-dirty ng-invalid" *ngIf="submitted && !pet.peso">peso is required.</small>
                </div>
                <div class="field">
                    <label class="mb-3">Sexo</label>
                    <div class="formgrid grid">
                        <div class="field-radiobutton col-6">
                            <p-radioButton name="sexo" value="Masculino" [(ngModel)]="pet.sexo" label="Masculino"></p-radioButton>
                        </div>
                        <div class="field-radiobutton col-6">
                            <p-radioButton name="sexo" value="Feminino" [(ngModel)]="pet.sexo" label="Feminino"></p-radioButton>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="CANCELAR" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="SALVAR" icon="pi pi-check" class="p-button-text" (click)="savePet()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="pet">Tem certeza de que deseja excluir? <b>{{pet.name}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="NÃO" (click)="deletePetDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="SIM" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deletePetsDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to delete selected products?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="NÃO" (click)="deletePetsDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="SIM" (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
